# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

# Compiled class file
*.class
# Log file
*.log
*.jar
*.properties
bin/