body {
    font-weight: bold;
    font-size: 12pt;
    overflow-wrap: anywhere;
}

#profilePic {
    display: inline-block;
    border: 5px solid black;
}

.infoSection {
    display: inline-block;
    padding-left: 20px;
}

#passive {
    display: inline-block;
    vertical-align: top;
}

#skillsSection {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    border: 2px solid black;
}

#languageSection {
    display: block;
    width: 200px;
}

#experienceSection {
    width: 400px;
    display: inline-block;
    padding-left: 20px;
}

.experienceEntry {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}