<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/pdfstyle.css">
</head>

<body>
    <img id="profilePic" src="../Oleksiy_Arestovych_(cropped).jpg" width="200" height="200">
    <div class="infoSection">
        <span id="nameSection">
            <h1 id="fullname"> Олексій Пиздаболич</h1>
        </span>
        <span id="contactDetailsSection">
            <h2 id="contactDetailsHeading">Contact details</h2>
            <p id="contacts">Phone: 228<span class="tab"></span>Email: office@president</p>
        </span>
        <span id="studyingSection">
            <h2 id="studyingHeading">Study</h2>
            <p id="study">Університет Гімна, факультет Пиздабології</p>
        </span>
    </div>
    <div class="attributes">
        <div id="passive">
            <span id="skillsSection">
                <h2 id="skillsHeading">Skills</h2>
                <ul>
                    <li>Пиздіти</li>
                    <li>Спати</li>
                    <li>Срати</li>
                </ul>
            </span>
            <span id="languageSection">   
                <h2 id="languageHeading">Languages</h2>
                <ul>
                    <li>Українська - Beginner (A1)</li>
                    <li>Російська - Native</li>
                </ul>
            </span>
        </div>
        <span id="experienceSection">
            <h2 id="experienceHeading">Experience</h2>
            <ul>
                <li class="experienceEntry">
                    <h3>Офіс президента</h3>
                    <h4>Радник</h4>
                    <h5>2022-2023</h5>
                    <p>Дуже багато пиздів</p>
                </li>
                <li class="experienceEntry">
                    <h3>33 бойових вихода</h3>
                    <h4>Бойовик</h4>
                    <h5>2014-2022</h5>
                    <p>Чесно, я не брешу, бля буду. Без приколів, я реалізувався як військовий на 100%</p>
                </li>
            </ul>
        </span>
    </div>
</body>

</html>